<h1>New <%= class_name %></h1>

<%%= form_tag <%= instance_var %>, resource(<%= resource_sym %>, :new) do %>
  <%%= partial :form %>
  <p>Complexify your forms by adding a field_set:
    <pre>
      &lt;% @resource_relationship = <%= instance_var %>.resource_relationship -%&gt;
      &lt;%= fields_for @resource_relationship do %&gt;
        &lt;%= hidden_field :<%= singular_name %>_id, :value => <%= instance_var %>.id %&gt;
        &lt;%= partial 'resource_relationship/form' %&gt;
      &lt;% end =%&gt;
    </pre>
  </p>
  <%%= submit 'Create' %>
<%% end =%>
 
